* {
  box-sizing: border-box;
  margin: 0;
  font-weight: 300;
}



#fetch-cat-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#fetch-animals-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


/* Button hover effect */
#fetch-button:hover {
  background-color: paleturquoise; /* Slightly darker green on hover */
}
